*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif !important;
}

body {
    background-color: #f5f5f7;
    width: 100%;
    height: 100vh;
    font-family: 'Inter', sans-serif;

}


header {

    width: 100%;
    height: 72px;
    padding: 20px;
    text-align: center;
    display: inline-block;
}  

.header-container {
    display: inline-block;
    margin-left: 340px;
    margin-right: 340px;
    margin-bottom: 19px;

}
    .logo {
        display: inline-block;
        /* vertical-align: middle; */
        width: 152px;
        height: 50px;
        color: #5B47D1;
        background-color: #F0EDFF;
        font-weight: 700;
        font-size: 24px;
        text-decoration: none;
        padding: 11px 19px 10px 23px;
        margin-right: 20px;
    }

    nav 
    {
        display: inline-block;
        
    }

    nav ul { 
        list-style: none;
      
    }    
     
    nav ul li {
                display: inline-block;
               
    }

    nav ul li a {
        text-decoration: none;
        color: #000000;
        font-weight: 500;
        font-size: 24px;
   
    }
     

.hero-section {
    width: 100%;
    height: 400px;
    background-image: url(/image.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
 

}

.hero-content {
    display: inline-block;
    text-align: center;
    padding-top: 131px;
    
  
   
}


.hero-title {
    width: 975px;
    height: 58px;
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 37px;
    display: inline-block;
    
   
}

.hero-subtitle {
    width: 640px;
    height: 24px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    display: inline-block;
}


.news-container {
    text-align: center;
}

.section-title {
    display: inline-block;
    width: 351px;
    height: 44px;    
    margin-top: 45px;
    margin-bottom: 49px;
    color: #000000;
    font-size: 36px;

    

}

.grid {
    text-align: center;
}

.card {
    background-color: #ffffff;
    width: 360px;
    height: 472px;
    display: inline-block;
    margin: 29px;
    vertical-align: top;
    text-align: left;

}

.card-image {
    width: 360px;
    height: 240px;
   
}

/*Card-image Individual Colors*/
.violet {background-color: #c7b8ff;}
.purple {background-color: #ffc0db;}
.blue {background-color: #B8E0FF;}
.green {background-color: #D4FFB8;}
.light-orange {background-color: #D4FFB8;}
.orange {background-color: #FFD4B8;}

.card-content {
    display: inline-block;
    text-align: left;
    width: 322px;
    height: 200px;
    margin-top: 15px;
    margin-left: 19px;
}

.date {
    font-size: 13px;
    text-align: left;
    margin-right: 28px;
    
}

.author {
    font-size: 13px;
  
}

.card-title {
    font-size: 22px;
    margin-bottom: 6px;
    margin-top: 15px;
    display: inline-block;

}

.card-text {
    width: 296px;
    height: 126px;
    font-size: 16px;
    
}


.footer-content {
    color: #ffffff;
    background-color: #252424;
    text-align: center; 
    padding: 60px 0;
}

.footer-left {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-right: 100px; 
 
}


.categories {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.block {
    margin-bottom: 40px; 
}

h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 11px;
}

.footer-content p {
    font-size: 14px;
    font-weight: 400;
    color: #A1A1A6;
    line-height: 1.6;
}

.footer-bottom {
    background-color: #020202;
    color: #86868B;
    height: 55px;
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    padding-top: 20px;
    
}